body {
    background-color: black;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.dados {
    color: white;
    margin: 20px auto;
    background-color: #1A1A1A;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    box-sizing: border-box;
}

.orgs_3 {
    color: white;
    margin: 20px auto;
    background-color: #1A1A1A;
    width: 90%;
    max-width: 1200px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 8px;
    box-sizing: border-box;
    flex-wrap: wrap; 
}

.infos_gerais, .infos_endereco, .infos_pags {
    text-align: center;
    margin: 10px auto;
    flex: 1 1 300px; 
    box-sizing: border-box;
}

.label {
    text-align: center;
    font-size: 17px;
    display: block;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 18px;
    color: #66bb6a;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(37, 37, 37, 0.5);
}

.botao {
    background-color: #66bb6a;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #81c784;
}

.barra {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: solid #4CAF50 2px;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #4CAF50;
    text-align: center;
    margin: 10px auto;
}

.barra:focus {
    outline: none;
}

.botao2 {
    background-color: #76b900;
    color: white;
    width: 100%;
    max-width: 300px;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
    transition: background-color 0.3s ease;
}

.botao2:hover {
    background-color: #96df17;
}

.botao2 svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
}


@media (max-width: 768px) {
    .orgs_3 {
        flex-direction: column; 
        align-items: center;
    }

    .dados, .orgs_3 {
        width: 95%; 
    }
}

