/* Estilo base */
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
    color: black;
}


.orgs {
    color: white;
    margin: 20px auto;
    background-color: #1A1A1A;
    width: 90%; 
    max-width: 1200px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px; 
}

h4 {
    font-size: 18px;
    color: #66bb6a;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(37, 37, 37, 0.5);
}

.infos,
.enderecos {
    text-align: center;
    margin: 10px;
    flex: 1 1 300px; 
    max-width: 400px; 
}

.botao, .botao2 {
    background-color: #76b900;
    color: white;
    font-size: 16px;
    height: 2.9em;
    cursor: pointer;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    width: 45%; 
    margin: 10px;
}

.botao:hover {
    background-color: #96df17;
}

.botao2 {
    background-color: #ad5656;
}

.botao2:hover {
    background-color: #ba6969;
}


.map-container {
    width: 100%;
    max-width: 400px; 
    height: 300px;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px #66bb6a;
}

.iframe_mapa {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* Inputs */
.barra {
    width: 90%; 
    max-width: 300px; 
    padding: 10px;
    border: solid #4CAF50 2px;
    background-color: #212121;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #4CAF50;
}

.barra:focus {
    outline: none;
}

.label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

/* Navbar */
.nav_bar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    background-color: #1A1A1A;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px; 
}


@media (max-width: 768px) {
    .orgs {
        flex-direction: column; 
        align-items: center; 
        }

    .infos, .enderecos {
        flex: 1 1 100%; 
        margin-bottom: 20px;
    }

    .nav_bar {
        flex-direction: column; 
        gap: 10px;
    }

    .botao, .botao2 {
        width: 90%; 
    }

    .map-container {
        height: 200px; 
    }

    h4 {
        font-size: 16px; 
    }

    .barra {
        width: 100%; 
    }
}
